Flask
python-dotenv
requests
pymupdf
langchain
langchain-community
langchain-groq
langchain-google-genai
faiss-cpu
sentence-transformers
torch
groq
google-genai
gunicorn
pymongo
Flask-Bcrypt
google-generativeai
python-dateutil
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker
numpy
pandas
Pillow
tqdm
transformers
huggingface-hub
protobuf
typing-extensions
urllib3
certifi
charset-normalizer
idna
pyOpenSSL
cryptography
